.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background: lightgray;
}
.App{
    width: 400px;
    margin: 0 auto;
    background: black;
    box-shadow: 0 0 5px;
    margin-top: 100px;
}
.value-container{
    padding-top: 1.75%;
}
.value-container input{
    display: block;
    width: 95%;
    border: none;
    height: 30px;
    text-align: right;
    padding: 0 10px;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 700;
    color: black;
}
.buttons-container{
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.buttons-container button{
    width: 20%;
    height: 30px;
    line-height: 30px;
    margin: 2%;
    border: none;
    outline: none;
    background: darkblue;
    color: white;
    font-weight: 700;
}
.buttons-container button:hover{
    box-shadow: 0 0 5px;
}
