<form action="/trips" method="post">
<input type="text" name="title" placeholder="Location"/>
Leave: <input type="date" name="leaveTime"/>
Return: <input type="date" name="returnTime"/>
<input type="text" name="imageURL" placeholder="image url"/>
<input type="submit"/>
</form>
