<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<h3>Enter New Trip</h3>
{{> logout}}


{{> addTrip}}

{{> chat}}
</body>
<script src="/socket.io/socket.io.js"></script>
<script src="/client.js"></script>
</html>
